*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.dashboard-container{
  background-image: linear-gradient(#1E47AA,#133588,#031C58);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}
.flights_table{
  background-color: #F6F6FF;
  padding: 10px;
  width: 60%;
  border: 1px solid black;
  border-radius: 0px 0px 10px 10px ;
}
.table-head{
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #F4F2FF;
  color: #6E6893;
}
.table-date{
  padding: 5px;
  text-align: center;
  background-color: white;
}